/* hide blog post date on list */
.entry-header .entry-dateline {
    display: none; 
  }
  
  /* hide blog post date on post */
  .blog-item-wrapper .post-date {
    display: none;
  }
  
  .streaming-wrapper {
    padding-top: 85px !important;
    padding-bottom: 0px !important;
  }
  
  .streaming-view {
    height: 600px;
    padding: 0px;
  }
  
  #theater-overlay {
    position: absolute;
    height: 100%;
    width: 150vw;
    top: 0;
    left: -50vw;
    background-color: black;
    z-index: -1;
    opacity: 0.6;
  }
  
  iframe {
    z-index: 1;
  }
  
  .spinner {
    margin: 0 auto 0;
    text-align: center;
  }
  
  .spinner > div {
    width: 9px;
    height: 9px;
    margin: 3px;
    background-color: white;
    
    border-radius: 100%;
    display: inline-block;
    -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
    animation: sk-bouncedelay 1.4s infinite ease-in-out both;
    
  }
  
  .live-now-button, .bounce1 {
    margin-left: 12px !important;
  }
  
  .spinner .bounce1 {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
    
  }
  
  .spinner .bounce2 {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
  }
  
  @-webkit-keyframes sk-bouncedelay {
    0%, 80%, 100% { -webkit-transform: scale(0) }
    40% { -webkit-transform: scale(1.0) }
  }
  
  @keyframes sk-bouncedelay {
    0%, 80%, 100% { 
      -webkit-transform: scale(0);
      transform: scale(0);
    } 40% { 
      -webkit-transform: scale(1.0);
      transform: scale(1.0);
    }
  }